* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	font-family: sans-serif;
	font-size: 18px;
}
h1{
	text-align: center;
	margin: 20px;
	text-transform: capitalize;
	font-size: 1.75em;
}
h3{
	border: 1px solid black;
	font-size: 1.25em;
	display: inline-block;
	text-align: center;
	width: 125px;
	padding: 10px;
	float:right;
	text-transform: capitalize;
}
section{
	border: 1px solid black;
	background: #808080;
	margin: 15px 15px 15px 15px;
}
p{
	clear: right;
	padding: 10px;
}
.T1{
	background: #FFC0CB;
}
.T2{
	background: #FF0020;
}
.T3{
	background: #FFFF00;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  padding: 0px 15px 0px 15px;
}

/********** desktop version **********/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
}

/********** Mobile version **********/
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}